.location__container{
    text-align: center;
    border: 2px solid #c4d560; 
    .location__list {
        border: 2px solid #c4d560; 
    }
}
h1 {
    padding: 30px;
    text-align: center;
    letter-spacing: 4px;
}