<div class="container">
    <ul class="nav__container">
        <!-- <li class="nav__list" *ngFor="let element of nav">
            <a routerLink="{{element.link}}">{{element.name}}</a>
        </li> -->
        <li>
            <a class="home__button" routerLink="/home"><img src="https://i.imgur.com/ApVpgPW.png"></a>
        </li>
        <li>
            <a routerLink="/characters"><img src="https://i.imgur.com/xxd2I1j.png"></a>
        </li>
        <li>
            <a routerLink="/location"><img src="https://i.imgur.com/30zCZo1.png"></a>
        </li>
        <li>
            <a routerLink="episodies"><img src="https://i.imgur.com/jNtvfIh.png"></a>
        </li>
        <li>
            <a routerLink="/about"><img src="https://i.imgur.com/XDoNlUp.png"></a>
        </li>
    </ul>
</div>
